.Button {
  border: 0;
  min-width: 120px;
  padding: 10px 25px;
  color: var(--grey);
  font-size: 1.4em;
  font-weight: 600;
  border-radius: 15px;
  background: var(--prussian-blue);
  box-shadow: 13px 13px 38px #161f2e,
  -13px -13px 38px #2c3f5c;
  transition: background-color 0.1s ease-in-out,
  box-shadow 0.5s linear;
  outline: none;
}

.Button:hover {
  box-shadow: 14px 14px 28px #0d131c,
  -14px -14px 28px #354b6e;
}

.Button:active {
  background-color: var(--dark-purple);
}
