.Keys {
  display: flex;
  height: 100px;
  margin: 50px 0;
  width: 100%;
  justify-content: center;
}

.Key {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  border-radius: 20px;
  background: var(--prussian-blue);
  box-shadow: 13px 13px 39px #1a2537,
  -13px -13px 39px #283953;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  font-size: 2.3em;
  animation: disappear;
  animation-delay: 1.5s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
