.Board {
  display: grid;
  width: 600px;
  height: 600px;
  padding: 30px;
  border-radius: 50px;
  background-color: var(--prussian-blue);
  box-shadow: 12px 12px 24px #1c283b,
  -12px -12px 24px #26364f;
}

.BoardCell {
  border-color: var(--skobeloff);
  border-style: solid;
  border-width: 0;
}
