.ScreenIndicatorOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background-color: var(--prussian-blue);
}

.ScreenIndicatorOverlay p {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 800px) and (min-height: 600px) {
  .ScreenIndicatorOverlay {
    display: none;
  }
}
