@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --skobeloff: #006466ff;
  --midnight-green-eagle-green: #065a60ff;
  --midnight-green-eagle-green-2: #144552ff;
  --charcoal: #1b3a4bff;
  --prussian-blue: #212f45ff;
  --space-cadet: #272640ff;
  --dark-purple: #312244ff;
  --russian-violet: #3e1f47ff;
  --russian-violet-2: #4d194dff;
  --grey: #8a97a0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--prussian-blue);
}
